<div class="container">

  <div class="card mb-4 col-11 col-sm-8 mx-auto p-0">
    <ng-container *ngIf=" _artist">
      <div class="card-header">
        <div class="bg-light text-center">
          <h3 *ngIf="!_artist.id; else modify">Új fellépő létrehozása</h3>
          <ng-template #modify><h3>Fellépő szerkesztese</h3></ng-template>
        </div>
      </div>
      <div class="card-body">
        <div *ngIf="_artist?.picture" class="form-group">
          <img class="card-img img-fluid" [src]="_artist.picture" height="160" alt="Card image cap">
        </div>
        <div *ngIf="_artist.id && !viewForm">
          <app-picture [picParams]="picPrms">
          </app-picture>
        </div>
        <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">
          <div class="form-group">
            <label>Fellépő neve</label>
            <input type="text" placeholder="Fellépő neve" required class="form-control" formControlName="name">
            <!--<small *ngIf="!myForm.controls.name.valid" class="text-danger">
              Name is required (minimum 5 characters).
            </small>-->
          </div>
          <div class="form-group">
            <label>Fellépőről egy kis ismertető</label>
            <textarea type="text" class="form-control" placeholder="Fellépő leírása" required
                      formControlName="description"></textarea>
          </div>

          <div formArrayName="styles">
            <div *ngFor="let style of myForm.controls.styles.controls; let i = index" class="panel panel-default">
              <div class="panel-heading">
                <span>Stílus {{i+1}}</span>
                <span class="glyphicon glyphicon-remove pull-right" *ngIf="myForm.controls.styles.controls.length > 1"
                      (click)="removeStyle(i)">x</span>
              </div>
              <div class="panel-body" [formGroupName]="i">
                <app-style [group]="myForm.controls.styles.controls[i]" [viewForm]="viewForm"></app-style>
              </div>
            </div>

            <div *ngIf="!viewForm" class="margin-20">
              <a (click)="addStyle()" style="cursor: default">
                Új stílus hozzáadása +
              </a>
            </div>
          </div>
          <pre>form value: <br>{{myForm.value | json}}</pre>

          <div class="text-center mb-3">
            <ng-container *ngIf="userService.isLoggedin"><!--ez a jó-->
              <!--<ng-container *ngIf="!userService.isLoggedin">-->
              <ng-container *ngIf="viewForm; else editButtons">
                <button type="button"
                        class="btn btn-primary btn-lg"
                        (click)="editMode()"
                >Szerkesztes
                </button>
              </ng-container>
              <ng-template #editButtons>
                <button type="submit"
                        class="btn btn-primary btn-lg"
                        [disabled]="myForm.invalid"
                >Mentés
                </button>
                <button type="button"
                        class="btn btn-danger btn-lg"
                        (click)="delete(_artist.id)"
                        *ngIf="_artist.id"
                >Törlés
                </button>
              </ng-template>
            </ng-container>
            <button type="button"
                    class="btn btn-primary btn-lg"
                    (click)="navigateBack()"
            >Vissza
            </button>
          </div>
        </form>
      </div>
    </ng-container>
  </div>
</div>
