<div class="card">
  <img *ngIf="fellepo?.picture" class="card-img-top img-fluid" [src]="fellepo.picture" height="160" alt="Card image cap">
  <div class="card-body">
    <h4 class="card-title"> {{fellepo.name}}</h4>
    <p class="card_text card-text">{{fellepo.description}}</p>
    <p class="card_text card-text" >
      <span *ngFor="let item of fellepo.styles; let i=index; let last=last">
            <a (click)="refreshByStyle(item.style)" class="badge badge-secondary">#{{item.style}}{{last ? '' : ','}}</a>
        </span>
    </p>
    <a [routerLink]="['./',fellepo.id]" class="row justify-content-end pr-4">Tovább</a>
  </div>
</div>
