<div class="row  justify-content-around px-5 ">

  <div class="col-auto text-center">
    <label>Keresés az fellépők között</label>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Fellépő neve" #searchNameInput>
      <input class="form-control mr-sm-2" type="search" placeholder="Fellépő stílusa" #searchStyleInput>
    </form>
  </div>
  <div class="my-2 my-lg-0 text-center" *ngIf="userService.isLoggedin">
    <div>
      <label>Fellépőt szeretnék felvinni</label>
    </div>
    <div class="w-100"></div>
    <div><a routerLink="./new" class="btn btn-primary" role="button">Új fellépő
      léterhozása</a></div>
  </div>

</div>
<!--{{artistsGrouppedBy3$ | async | json}}-->

<br>
<div class="card-columns">
  <app-artistcard class="col col-md-6 col-lg-4"
                  *ngFor="let artist of artistList$ | async "
                  (stylePush)="artistsByStyle($event)"
                  [fellepo]="artist"
  ></app-artistcard>
</div>
