<app-jumbotron>
  <h1 class="display-4 mb-4">Fesztiválok minden mennyiségben!</h1>
  <p class="lead">Használd az oldalt és válaszd ki azokat a fesztiválokat, amiken mindenképp ott kell lenned a szezon alatt.</p>
  <a class="btn btn-primary btn-lg mt-4 mb-0"
     routerLink="/event"
     role="button"
  >
    Nézzük az eseményeket!
  </a>
</app-jumbotron>

<div class="container">

  <div class="card-deck pt-5">

    <div class="col col-md-6 col-lg-4">
      <div class="index_card text-center">
        <div class="row justify-content-center">
          <img class="card-img-top img-fluid calendar" src="assets/calendar.png"
               alt="Card image cap">
        </div>
        <div class="card-body">
          <h4 class="card-title text-center">Fesztiválok</h4>
          <p class="index_text card-text">Itt megtalálod a legtöbb hazai és nemzetközi fesztivált,
            böngéssz és válaszd ki melyik esemény programja illeszkedik az igényeidhez leginkább.</p>
          <a routerLink="/event" class="btn btn-primary index_btn_card">Fesztiválok</a>
        </div>
      </div>
    </div>

    <div class="col col-md-6 col-lg-4">
      <div class="index_card text-center">
        <div class="row justify-content-center">
          <img class="card-img-top img-fluid band" src="assets/band.png"
               alt="Card image cap">
        </div>
        <div class="card-body">
          <h4 class="card-title text-center">Fellépők</h4>
          <p class="index_text card-text">Keresd meg a kedvenc fellépőidet és tekintsd meg, hogy mikor és hol fognak fellépni.</p>
          <a routerLink="/artist" class="btn btn-primary index_btn_card">Fellépők</a>
        </div>
      </div>
    </div>

    <div class="col col-md-8 mx-md-auto col-lg-4">
      <div class="index_card text-center col">
        <div class="row justify-content-center">
          <img class="card-img-top img-fluid calendar" src="assets/user.png"
               alt="Card image cap">
        </div>
        <div class="card-body">
          <h4 class="card-title">Regisztráció</h4>
          <p class="index_text card-text">Még nem regisztráltál? Akkor gyorsan
            tedd meg, mert egyes szolgáltatások csak tagok számára elérhető.</p>
          <a routerLink="/user/registration" class="btn btn-primary index_btn_card">Regisztráció</a>
        </div>
      </div>
    </div>

  </div>
</div>
