<div class="row">
<div  class="col col-md-6 col-lg-4" *ngFor="let acc of _accommodations ">
  <div class="card">
    <img class="card-img-top" [src]="acc.pictureURL" height="160" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title"> {{acc.name}}</h4>
      <p class="card_text card-text">{{acc.description}}</p>
      <p class="card_text card-text">Cím: {{acc.address.city}}</p>
      <p class="card_text card-text">Ár/fő: {{acc.price}} Ft/éj</p>
      <a [href]="acc.website" class="row justify-content-end pr-4">Tovább</a>
    </div>
  </div>
</div>
</div>
